Flask==2.3.3
flask-cors==3.0.10
openpyxl==3.1.2
fpdf==1.7.2
pywin32==306
Pillow==11.1.0


# pip install -r requirements.txt
#  pyinstaller --onefile --add-data "invoice.xlsx;." --add-data "logo.png;." efd_print.py 
